.header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

h1 {
    text-align: center;
}

.navbar {
    background-color: #333;
    padding: 10px 0;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar ul li {
    display: inline-block;
}

.navbar ul li a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.navbar ul li a:hover {
    background-color: #555;
}

.menu-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.menu-item {
    border: 1px solid #2f2f2f;
    border-radius: 8px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f4f4f4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.menu-item-details {
    padding: 20px;
}

.menu-item-name {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.menu-item-description {
    color: #000000;
    margin-bottom: 10px;
}

.menu-item-price {
    font-size: 1.4em;
    color: #1dbe20;
    font-weight: bold;
}